<div class="component-product-item">
    <div class="badges">

    </div>
    <div class="images" ui-sref="main.productDetail({id: $ctrl.product.id, link: $ctrl.product.link})">
        <img class="img-responsive" ng-src="images/products/800-{{::$ctrl.images[0]}}" d-err-src="images/products/fallback.png" alt="" />
    </div>
    <div class="information">
        <div class="reference" ui-sref="main.productDetail({id: $ctrl.product.id, link: $ctrl.product.link})">{{::$ctrl.product.reference}}</div>
        <div class="description">{{::$ctrl.product.description}}</div>
    </div>
</div>