<div class="modal-header">
    <button class="close" type="button" ng-click="$ctrl.close()">&times;</button>
    <h4 class="modal-title"><i class="fa fa-sort"></i> Reordenar Categorias</h4>
</div>
<div class="modal-body">

    <ul class="list-group rm-bottom" html-sortable="$ctrl.sortableMode" ng-model="$ctrl.data.levels">
        <li class="list-group-item cursor-grab" ng-repeat="level in $ctrl.data.levels track by level.id">
            <i class="fa fa-hand-grab-o"></i> {{level.name}}
        </li>
    </ul>

</div>
<div class="modal-footer">
    <button class="btn btn-danger-outline btn-xs" type="button" ng-click="$ctrl.close()">Cancelar</button>
    <button class="btn btn-default btn-xs" type="button" ng-click="$ctrl.confirm()">Salvar Ordenação</button>
</div>
