<page-loading hide="$ctrl.loaded"></page-loading>
<page-header section="'Customização'" page="'Slider'"></page-header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <form name="form" ng-submit="form.$valid && $ctrl.create()" novalidate>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Criar novo slider
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Descrição do slider * <small class="text-muted">(facilita a identificação)</small></label>
                            <input class="form-control" type="text" ng-model="$ctrl.new.name" required ng-maxlength="128" />
                        </div>

                        <upload-files folder="images/slider/" ng-model="$ctrl.new.image"></upload-files>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-8">
                                <button class="btn btn-default btn-sm" type="button" ng-click="$ctrl.imageZoom($ctrl.new.image)" ng-show="$ctrl.new.image">Ver imagem carregada</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-primary btn-block" type="submit" ng-disabled="form.$invalid"><i class="fa fa-plus"></i> Criar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Sliders
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed table-striped">
                        <thead>
                            <tr>
                                <th colspan="2">Informações</th>
                                <th>Data de Criação</th>
                                <th width="1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="slider in $ctrl.sliders">
                                <td width="75">
                                    <img class="cursor-pointer" ng-src="../images/slider/{{slider.image}}" alt="{{slider.name}}" width="75" ng-click="$ctrl.imageZoom(slider.image)" uib-tooltip="Clique para ampliar imagem" tooltip-placement="right" />
                                </td>
                                <td>{{slider.name}}</td>
                                <td>{{slider.creation | date: 'dd/MM/yyyy'}}</td>
                                <td><button class="btn btn-danger-outline btn-xs" type="button" ng-click="$ctrl.delete(slider)">Remover</button></td>
                            </tr>
                            <tr ng-hide="$ctrl.sliders.length">
                                <td colspan="4">Sem sliders cadastrado.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>